<!-- <div class="io-form-header"> -->
  <div class="head">
    <span style="color: #181818; margin-left: 20px;"><i class="fa fa-home"></i></span>
    <a [routerLink]="['/pages/dashboard']"><span>Dashboard</span></a><b style="color: #181818;"> > </b>
    <a [routerLink]="['/pages/sdm']"><span>SDM</span></a><b style="color: #181818;"> > </b>
    <a style="color: #181818;"><span>Historis SDM</span></a>
    <span class="time" style="color: #181818; margin-right: 20px">{{time | date:'medium'}}</span>
  </div>
<!-- </div> -->
<!-- <io-form *ngIf="action?.form()">
    <form class="io-form-body" [formGroup]="action?.formControls()">
      <mat-list-item>
        <div style="margin-bottom:8px">
          <mat-label class="panjang">Name</mat-label>
            <mat-form-field class="example-full-width" style="width: 200mm">
              <input placeholder="" matInput (keyup)="onKeySdmName($event)" [formControl]="sdmCtrl" [matAutocomplete]="auto" formControlName="sdm_name" name="sdm_name">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let dataSdm of filteredSdm | async" [value]="dataSdm.values.sdm_sdm_name" (onSelectionChange)="setSdmValue(action?.formControls(), dataSdm);">
                  {{dataSdm.values.sdm_sdm_name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
              <button mat-raised-button class="btn btn-search btn-mm" (click)="onSearch()">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Cari</button>
              <button mat-raised-button class="btn btn-clear btn-mm" (click)="onReset()">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear</button>
        </div>
      </mat-list-item>
    </form>
</io-form> -->
<io-table *ngIf="action?.table()" [action]="action" style="margin-top:20px; text-align: center;">
  <div class="io-table-header">
    <h3>List Task</h3>
  </div>
</io-table>

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  <button type="button" class="btn btn-info btn-mm btn-icon" (click)="test(row.sdm_id)" style="background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221))">
    <i class="glyphicon glyphicon-eye-open"></i>
  </button>
</ng-template>
<ng-template #viewAsDateTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  {{value | date:'yyyy-MM-dd'}}
</ng-template>
