mat-icon{
    padding : 20px;
    color: black;
}
.time{
    float: right;
}
.panjang{
    width : 150px;
}
.formheader{
    margin: 12px;
}
.btn-search {
  background: linear-gradient(to bottom left, rgb(20, 190, 1), rgb(20, 190, 1));
    color: #FEFEFE;
    margin-left: 80px;
}
.btn-clear {
  background: linear-gradient(to bottom right, rgb(224, 48, 29), rgb(224, 48, 29));
    color: #FEFEFE;
    margin-left: 0px;
}
