/* 
  Author        : Nurdhiat Chaudhary Malik
  Date Created  : 01 Agustus 2018
  Status        : Done
*/
  
@import '../../../core/sass/conf/conf';
@import '../../../core/sass/auth';
@import '../../../core/sass/data-table/theme/sdw-table';

.title-header{
    font-size: 15px;
    padding-top: 10px;
}
.title-form{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}