<!-- Created by : Muhamad Rifan Andrian
Date       : 20-09-2018
Modified   :  -->
<io-form  *ngIf="action?.form()">
  <div class="io-form-header">
    <div class="title-header">
        <span><i class="fa fa-home"></i></span>
        <a [routerLink]="['/pages/dasboard']">dashboard</a><b> > </b>
        <a [routerLink]="['pages/all/ALL005']"><span>List Sdm Skill</span></a><b> > </b>
        <a><span>Detail skill SDM</span></a>
      <span class="time">{{ time | date: 'medium'}}</span>
    </div>
  </div>

  <form class="io-form-body" [formGroup]="action?.formControls()">
    <mat-label>SDM Name : </mat-label>
    <mat-form-field>
      <input matInput formControlName="sdm_name" name="sdm_name" readonly>
    </mat-form-field>
  </form>
</io-form>
<io-table *ngIf="action?.table()" [action]="action" class="sdw-table" style="text-align: left;">
</io-table>
<div>
    <button mat-flat-button class="btn-clear btn-mm" (click)="goBack()">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
</div>