.textHeader{
    text-decoration-color: #3c3c3c;
    text-align: left;
    color: #3c3c3c;
    size: 18px;
}
.sizePos{
    margin: 1.3%;
}
.labelClass{
    width: 150px;
}
.classData{
    width: 300px;
}
.classList{
    margin-left: 30px;
}
.button{
    /* margin-top: 500px; */
    margin-left: 71%;
}
.nx-save-button{
    background-color: royalblue;
    color: white;
    text-transform: capitalize;
  
}
.cancelButton{
    background-color: lightgray;
    color: #3c3c3c;

}
.breadcrumb{
    font-size: 15px;
    color: black;
    background: white;
    height: 55px;
    padding-top: 20px;
}
.time{
    float: right;
}

.nx-title {
    text-align: left;
    font-size: 150%;
    margin: 20px;
    color: black;
}

.nx-label-style {
    text-align: left;
    margin: 20px;
    color: black;
}

.nx-table-margin {
    margin-right: 20px;
    margin-bottom: 25px;
}

.nx-table-range {
    padding: 5px;
    margin: 10px;
}

#nx-table-range {
    padding: 5px;
    margin: 10px;
}

.nx-table-col-width {
    width: 250px;
}

.nx-button-range {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}

.nx-brc-header {
    margin: 12px;
}

.nx-table-left-align {
    text-align: left;
}