<io-form *ngIf="action?.form()">
  <div class="io-form-header">
    <div class="nx-brc-header">
      <i class="glyphicon glyphicon-home"></i>
      <a [routerLink]="['/pages/dashboard']">Dashboard</a>>
      <a>Project Assignment</a>>
      <a [routerLink]="['/pages/pja/PJA007']">Hiring SDM</a>
      <span class="nx-time">{{ time | date:'medium'}}</span>
    </div>
  </div>
  <form class="io-form-body" [formGroup]="action?.formControls()">

    <table class="nx-table-margin" style="width: 100%">

        <tr>
          <td class="nx-table-range"  style="width: 100px">
            <mat-label>Client</mat-label>
          </td>
          <td style="width: 5px">
            <mat-label>:</mat-label>
          </td>
          <td class="nx-table-range" style="width: 100px">
            <mat-form-field>
              <mat-select placeholder="- Select -" (change)="setTrueClick()" formControlName="client_id" name="client_id" [(ngModel)]="selected" (change)="ambilData();onSearch()">
                <mat-option *ngFor="let lov of lovClients.data" [value]="lov.key">
                  {{lov.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td></td>
        </tr>
  
        <tr>
          <td class="nx-table-range nx-table-height">
            <mat-label>PIC Client</mat-label>
          </td>
          <td>
            <mat-label>:</mat-label>
          </td>
          <td class="nx-table-range">
            <mat-label>{{ clientPic }}</mat-label>
          </td>
        </tr>
  
        <tr>
          <td class="nx-table-range nx-table-height">
            <mat-label>Client Contact</mat-label>
          </td>
          <td>
            <mat-label>:</mat-label>
          </td>
          <td class="nx-table-range">
            <mat-label>{{ clientMobile }}</mat-label>
          </td>
          <td>
            <!-- <button mat-flat-button (click)="onSearch()">
                <span class="glyphicon glyphicon-search nx-save-button" aria-hidden="true"></span>Filter</button>&nbsp; -->
            <button mat-raised-button class="action-btn nx-reset-button" (click)="action.onReset();clearData()">
                Reset</button>&nbsp;
            <div class="col-md-2" style="float:right">
              <button mat-raised-button class="action-btn nx-hiring-button" style="float:right" [disabled]="btnDisabled" (click)="navigatePushId(selected)">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">&nbsp;</span>Hire SDM
              </button>
            </div>
          </td>
        </tr>
  
      </table>
  </form>
</io-form>

<io-table style="margin-bottom:40px" *ngIf="action?.table()" [action]="action">
  <div class="io-table-header">
    <h3>List Task</h3>
  </div>
</io-table>

<!-- <div class="button">
  <button mat-raised-button class="cancelButton">Back</button>
  <button mat-raised-button class="saveButton">Save</button>
</div> -->

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="navigateEditMenu(row.sdmhiring_id)">
    <i class="glyphicon glyphicon-pencil"></i>
  </button>
  <button type="button" class="btn btn-danger btn-mm btn-icon" (click)="action.onDelete(row)">
    <i class="glyphicon glyphicon-trash"></i>
  </button>
</ng-template>
<!-- here -->
