<io-form *ngIf="action?.form()">
  <div class="io-form-header">
    <div class="nx-brc-header">
      <i class="glyphicon glyphicon-home"></i>
      <a [routerLink]="['/pages/dashboard']">Dashboard</a>>
      <a>Project Assignment</a>>
      <a [routerLink]="['/pages/pja/PJA007']">Hiring SDM</a>
      <span class="nx-time">{{ time | date:'medium'}}</span>
    </div>
  </div>
  <form class="io-form-body" [formGroup]="action?.formControls()">
    <div class="row">
      <div class="col-md-4">
        <mat-label>Client</mat-label>
        <mat-label>:</mat-label>
        <mat-form-field>
          <mat-select placeholder="- Select -" formControlName="client_id" name="client_id" [(ngModel)]="selected" (change)="ambilData();onSearch();setTrueClick()">
            <mat-option *ngFor="let lov of lovClients.data" [value]="lov.key">
              {{lov.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <!-- pic client -->
        <mat-label>PIC Client</mat-label>
        <mat-label>:</mat-label>
        <mat-label>{{ clientPic }}</mat-label>
      </div>
      <div class="col-md-4">
        <!-- client contact -->
        <mat-label>Client Contact</mat-label>
        <mat-label>:</mat-label>
        <mat-label>{{ clientMobile }}</mat-label>
      </div>
    </div>
<!-- 
    <div class="row">
      <div class="col-md-5" style="padding-right: 2%">
        <mat-form-field class="sdw-full-size">
          <mat-select placeholder="Pilih Kategory Pencarian" [(ngModel)]="dataFilter" formControlName="search_by" name="search_by" (change)="pencarian()" required>
            <mat-option value="sdm_name" >Nama SDM</mat-option>
            <mat-option value="hire_stat">Status SDM</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="" (keyup)="onKeySdmName($event)" [matAutocomplete]="sdmName" formControlName="sdm_name" name="sdm_name" [formControl]="sdmCtrl">
            <mat-autocomplete #sdmName="matAutocomplete" >
              <mat-option *ngFor="let dataSdm of filteredSdm | async" [value]="dataSdm.values.sdm_sdm_name" (onSelectionChange)="setSdmValue(action?.formControls(), dataSdm);onSearchAnd()">
                {{dataSdm.values.sdm_sdm_name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </div>
    </div> -->


    <div class="row">
      <div style="float: right; padding-right: 2%">
        <button mat-raised-button class="action-btn nx-reset-button" (click)="onReset()">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true">&nbsp;</span>Reset
        </button>
        <button mat-raised-button class="action-btn nx-hiring-button" [disabled]="btnDisabled" (click)="navigatePushId(selected)">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">&nbsp;</span>Hire SDM
        </button>
      </div>
    </div>
    <br>
  </form>
</io-form>

<io-table style="margin-bottom:40px" *ngIf="action?.table()" [action]="action" style="text-align: center;">
  <div class="io-table-header">
    <h3>List Task</h3>
  </div>
</io-table>

<!-- <div class="button">
  <button mat-raised-button class="cancelButton">Back</button>
  <button mat-raised-button class="saveButton">Save</button>
</div> -->

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  <button type="button" matTooltip="Edit"class="btn btn-primary btn-mm btn-icon" (click)="navigateEditMenu(row.sdm_id, row.sdmhiring_id, row.client_id)">
    <i class="glyphicon glyphicon-edit"></i>
  </button>
  <!-- <button type="button" matTooltip="Hapus Sdm" class="btn btn-danger btn-mm btn-icon" (click)="onDelete(row.sdmhiring_id)">
    <i class="glyphicon glyphicon-trash"></i>
  </button> -->
</ng-template>
<!-- here -->
