
<io-form >
  <div class="io-form-header" style="padding-top: 10px">
    <span><i class="fa fa-home"></i></span>
    <a href=""><span> Dashboard</span></a><span> > </span> <a href=""><span>Mengelola Data SDM</span></a> <span *ngIf="form == 1"> > Input Data SDM</span><span *ngIf="form == 2"> > Update Data SDM</span><span *ngIf="form == 3"> > Detail Data SDM</span>
    <span class="time">{{ time | date:'medium' }}</span>
</div>

  <div class="judul">Detail Data SDM</div>

  <form class="io-form-body">

      <div class="margin-padding-div">
          <mat-tab-group>
            <mat-tab label="Data Pribadi">
                <app-tabDetail-dataPribadi [form]="form" [id]="id"></app-tabDetail-dataPribadi>
            </mat-tab>
            <mat-tab label="Pendidikan">
                <app-tabDetail-Education [form]="form" [id]="id"></app-tabDetail-Education>
            </mat-tab>
            <mat-tab label="Kursus">
                <app-tabDetail-course [form]="form" [id]="id"></app-tabDetail-course>
            </mat-tab>
            <mat-tab label="Pekerjaan">
              <app-tabDetail-employment [form]="form" [id]="id"></app-tabDetail-employment>
            </mat-tab>
            <mat-tab label="Profil">
              <app-tabDetail-profil [form]="form" [id]="id"></app-tabDetail-profil>
            </mat-tab>
            <mat-tab label="Bahasa">
              <app-tabDetail-language [form]="form" [id]="id"></app-tabDetail-language>
            </mat-tab>
          </mat-tab-group>
        </div>

  </form>
</io-form>
