.panjang{
    width : 150px;
}
io-table{
    background: whitesmoke;
}
.time{
    float: right;
}
.btn-search {
    background: linear-gradient(to bottom right, #23AB14, #31AD18);
    color: #FEFEFE;
    margin-left: 20px;
}
.btn-clear {
    background: linear-gradient(to bottom right, #AB2314, #AD3118);
    color: #FEFEFE;
    margin-left: 10px;
}