<!-- <p>
  list-category worksaaaaaaaaaaaaaaaa!
</p> -->
<io-form *ngIf="action?.form()">
  <div class="io-form-header">  
    <h3>List Category</h3>
  </div>
  
  <!-- <form class="io-form-body" [formGroup]="action?.formControls()">
    <div class="col-md-3">
        <mat-form-field class="sdw-full-size">
          <mat-select placeholder="Skill Kategori" name="tas_task_id" required>
            <mat-option *ngFor="let lov of lovTask.data" [value]="lov.key">
              {{lov.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </form> -->
</io-form>