<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
     
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle collapse-menu-link" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <!--<img src="{{ ( 'default_user' | ioProfilePicture ) }}">-->
        <!--<div class="fa fa-bars"></div>-->
        <!--<mat-icon>more_vert</mat-icon>        -->
        <i class="material-icons" style="margin-left:-10px;">more_vert</i>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item"><a [routerLink]="['/pages/change-password']"><i class="fa fa-cog"></i>Settings</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-code-fork"></i>Version</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-info-circle"></i>About</a></li>
        <li class="dropdown-item"><a [routerLink]="['/login']"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
  </div> 
</div>


<!--<io-modal #changePassword>
  <div class="sdw-modal-body">  
    <io-ADM055-change-password *ngIf="changePassword.data"></io-ADM055-change-password>
  </div>
  <div class="sdw-modal-footer">
    <button mat-raised-button class="sdw-btn-warning" (click)="changePassword.hide()"> Kembali </button>
  </div>
</io-modal>-->
