<p></p>

<form class="io-form-body" [formGroup]="action?.formControls()">

  <div style="width: 100%; padding-left: 20px; padding-right: 20px">
  <!-- KONTEN PENDIDIKAN-->
  <table style="width: 100%">

      <!-- NAMA sekolah -->
      <tr>
        <td style="width: 20%">Nama Sekolah</td>
        <td style="width: 5px">:</td>
        <td style="width: 80%">
            <mat-form-field class="sdw-full-size">
                <input matInput placeholder="" formControlName="edu_name" name="edu_name" required>
                <mat-hint *ngIf="action.formErrors.edu_name" [ngStyle]="{'color': 'red'}">
                  {{action.formErrors.edu_name}}
                </mat-hint>
              </mat-form-field>
          </td>
      </tr>

      <!-- DEGREE -->
      <tr>
          <td class="table-td1">Tingkat</td>
          <td class="table-td2">:</td>
          <td class="table-td3">
            <mat-form-field class="sdw-full-size">
                <mat-select placeholder="" formControlName="degree_id" name="degree_id" required>
                  <mat-option *ngFor="let lov of lovDegree.data" [value]="lov.key">
                    {{lov.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </td>
      </tr>

      <!-- JURUSAN -->
      <tr>
          <td>Jurusan</td>
          <td>:</td>
          <td>
              <mat-form-field class="sdw-full-size">
                  <input matInput placeholder="" formControlName="edu_subject" name="edu_subject" required>
                  <mat-hint *ngIf="action.formErrors.edu_subject" [ngStyle]="{'color': 'red'}">
                    {{action.formErrors.edu_subject}}
                  </mat-hint>
                </mat-form-field>
            </td>
        </tr>

        <!-- TAHUN MASUK -->
        <!-- <tr>
            <td>Tahun Masuk</td>
            <td>:</td>
            <td>
                <mat-form-field class="sdw-full-size">
                    <input matInput [matDatepicker]="pickerStartEdu" placeholder="" formControlName="edu_startdate">
                    <mat-datepicker-toggle matSuffix [for]="pickerStartEdu"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartEdu></mat-datepicker>
                  </mat-form-field>
            </td>
        </tr> -->

        <!-- TAHUN KELUAR-->
        <!-- <tr>
            <td>Tahun Keluar</td>
            <td>:</td>
            <td>
                <mat-form-field class="sdw-full-size">
                    <input matInput [matDatepicker]="pickerEndEdu" placeholder="" formControlName="edu_enddate">
                    <mat-datepicker-toggle matSuffix [for]="pickerEndEdu"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEndEdu></mat-datepicker>
                  </mat-form-field>
            </td>
        </tr> -->

        <tr>
        <td style="width: 20%">Tahun Masuk</td>
        <td style="width: 5px">:</td>
        <td style="width: 80%">
            <mat-form-field class="sdw-full-size">
                <input matInput placeholder="" minlength="4" maxlength="4" formControlName="edu_startdate" name="edu_startdate" pattern="^0$|^((?!(0))[0-9]{0,9})$">
                <mat-hint *ngIf="action.formErrors.edu_startdate" [ngStyle]="{'color': 'red'}">
                    {{action.formErrors.edu_startdate}} for input
                </mat-hint>
                </mat-form-field>
            </td>
        </tr>

        <tr>
        <td style="width: 20%">Tahun Keluar</td>
        <td style="width: 5px">:</td>
        <td style="width: 80%">
            <mat-form-field class="sdw-full-size">
                <input matInput placeholder="" minlength="4" maxlength="4" formControlName="edu_enddate" name="edu_enddate" pattern="^0$|^((?!(0))[0-9]{0,9})$">
                <mat-hint *ngIf="action.formErrors.edu_enddate" [ngStyle]="{'color': 'red'}">
                    {{action.formErrors.edu_enddate}} for input
                </mat-hint>
                </mat-form-field>
            </td>
        </tr>
    </table>
    </div>
    <!-- <div class="col-md-6 pos" style="float:right">
        <io-form-action [action]="action" (click)="action.onReset()"></io-form-action>
    </div> -->
    <!-- <div class="col-md-6 pos" style="float:right">
        <button mat-raised-button style="margin: 10px 0px" (click)="validasiTahun()" *ngIf=" form == 1 ">{{action.buttonTitle}}</button>
        <button mat-raised-button style="margin: 10px 0px" (click)="validasiTahun()" *ngIf=" form == 2 ">Update</button>
        <button mat-raised-button style="margin: 10px 0px" (click)="action.onReset()">Reset</button>
    </div> -->
    <div style="margin-bottom:16px; margin-left:825px">
            <button mat-flat-button class="btn-new btn-mm" (click)="validasiTahun()" *ngIf=" form == 1 " [disabled]="action?.formControls()?.invalid || action?.formControls()?.pristine">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{action.buttonTitle}}</button>
            <button mat-flat-button class="btn-new btn-mm" (click)="validasiTahun()" *ngIf=" form == 2 " [disabled]="action?.formControls()?.invalid || action?.formControls()?.pristine">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Submit</button>
            <button mat-flat-button class="btn-clear btn-mm" (click)="action.onReset()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset</button>
    </div>


</form>

<div>
    <io-table *ngIf="action?.table()" [action]="action">
        <div class="io-table-header">
        <h3>List Educations</h3>
        </div>
    </io-table>
</div>

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
    <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onEdit(row)">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
    <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onDelete(row)">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</ng-template>