@import '../../../core/sass/conf/conf';
@import '../../../core/sass/auth';
@import '../../../core/sass/data-table/theme/sdw-table';

.sdw-tengah{
    text-align: center;
    margin-top:10%;
    margin-bottom:30%;
    height: 80%
}