<div class="sdw-header" style="height:80px;background-color:#fff;margin-bottom:5px; border-bottom:1.4px solid #ddd">
  <div class="col-md-12 col-sm-12">
      <h3> Maintenance</h3>
      
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="sdw-form sdw-input sdw-full-size">
      <div class="sdw-tengah">
        <h1>Maaf Website Sedang Dalam Perbaikan</h1>
        <p>&nbsp;</p>
        <button mat-raised-button [routerLink]="['/pages/operator']">Operator Menu</button>
        <button mat-raised-button [routerLink]="['/pages/logout']">Exit</button>
    </div>
  </div>
  </div>
</div>
