.name{
    width: 20%;
}
.formheader{
    margin: 12px;
}
table{
    width: 40%;
}
.io-table{
    width: auto;
}
.time{
    float: right;
}
.panjang{
    width : 150px;
}

.nx-filter-button{
    background-color: green;
    color: white;
    text-transform: capitalize;
}

.nx-reset-button{
    background-color: red;
    color: white;
    text-transform: capitalize;
}