.name{
    width: 20%;
}
.formheader{
    margin: 12px;
}
table{
    width: 40%;
}
.io-table{
    width: auto;
}
.time{
    float: right;
}
.panjang{
    width : 150px;
}

.nx-filter-button{
    background: linear-gradient(to bottom left, rgb(20, 190, 1), rgb(20, 190, 1));
    color: white;
    text-transform: capitalize;
}

.nx-reset-button{
    background: linear-gradient(to bottom right, rgb(224, 48, 29), rgb(224, 48, 29));
    color: white;
    text-transform: capitalize;
}