<!-- <simple-notifications></simple-notifications> -->

<!--header-->
<div class="sdw-header" style="height:60px;background-color:#fff;margin-bottom:5px; border-bottom:1.4px solid #ddd">
  <div class="col-lg-offse col-md-12 col-sm-12; padding:5px">
    <ng-content select=".sdw-form-header"></ng-content>
  </div>
</div>

<!--form 1-->
<div class="col-lg-6 col-md-6 col-sm-12">
  <div class="sdw-form sdw-input" style="padding-top:1.25em">
    <ng-content select=".sdw-form-left"></ng-content>
  </div>
</div>
<!--form 2-->
<div class="col-lg-6 col-md-6 col-sm-12">
  <div class="sdw-form sdw-input" style="padding-top:1.25em">
    <ng-content select=".sdw-form-right"></ng-content>
  </div>
</div>
