@import 'sdw-table';

.ngx-datatable.dark {
  box-shadow: 0 3px 1px 0 rgba(0,0,0,0.12);
  //border: $sdw-table-border;
  border-radius: $sdw-table-radius;
  color: $sdw-table-color;
  font-size: 13px; 
  margin:5px }
  .ngx-datatable.dark .datatable-header {
    background: $sdw-table-header;
    color: $sdw-text; 
    }
    .ngx-datatable.dark .datatable-header .datatable-header-cell {
      text-align: center;
      padding: .5rem 1.2rem;
      font-weight: bold; }
      .ngx-datatable.dark .datatable-header .datatable-header-cell .datatable-header-cell-label {
        line-height: 24px; }
  .ngx-datatable.dark .datatable-body {
    
    background: $sdw-table-color;
    border-top: $sdw-table-border;
    border-bottom: $sdw-table-border;
    color: $sdw-text; }
    .ngx-datatable.dark .datatable-body .datatable-body-row {
      border-top: $sdw-table-border; }
      .ngx-datatable.dark .datatable-body .datatable-body-row .datatable-body-cell {
        padding: .5rem 1.2rem;
        vertical-align: top; }
      .ngx-datatable.dark .datatable-body .datatable-body-row:hover {
        background: $sdw-table-color;
        transition-property: background;
        transition-duration: .3s;
        transition-timing-function: linear; }
      .ngx-datatable.dark .datatable-body .datatable-body-row:focus {
        background-color: $sdw-table-color; }
      .ngx-datatable.dark .datatable-body .datatable-body-row.active {
        background-color: $sdw-table-color;
        color: $sdw-text; }
  .ngx-datatable.dark .datatable-footer {
    background: $sdw-table-color;
    color: $sdw-text;
    margin-top: -1px; }
    .ngx-datatable.dark .datatable-footer .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem; }
    .ngx-datatable.dark .datatable-footer .datatable-pager {
      margin: 0 10px;
      vertical-align: top; }
      .ngx-datatable.dark .datatable-footer .datatable-pager ul li {
        margin: 10px 0px; }
        .ngx-datatable.dark .datatable-footer .datatable-pager ul li:not(.disabled).active a,
        .ngx-datatable.dark .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
          background-color: $sdw-table-border;
          font-weight: bold; }
      .ngx-datatable.dark .datatable-footer .datatable-pager a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #72809b; }
      .ngx-datatable.dark .datatable-footer .datatable-pager .datatable-icon-left,
      .ngx-datatable.dark .datatable-footer .datatable-pager .datatable-icon-skip,
      .ngx-datatable.dark .datatable-footer .datatable-pager .datatable-icon-right,
      .ngx-datatable.dark .datatable-footer .datatable-pager .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px; }
