<p></p>

<form class="io-form-body" [formGroup]="action?.formControls()">

    <div style="width: 100%; padding-left: 20px; padding-right: 20px; padding-top: 10px">
    <!-- KONTEN DATA PRIBADI-->
    <!-- <input type="file" (change)="onFileSelected($event)> -->

    <table style="width: 100%">

    <!-- NAMA LENGKKAP -->
    <tr class="tr-height">
        <td style="width: 20%"><p class="style">Nama Lengkap</p></td>
        <td style="width: 1%"><p class="style">:</p></td>
        <td style="width: 79%">
            <p class="style">{{ action?.formControls().controls['sdm_name'].value }}</p>
        </td>
        <td rowspan="7">
            <div style="margin-left: 50px" *ngIf="pathFoto">
                <img src="{{pathFoto}}" style="width: 200px">
            </div>
        </td>
    </tr>

    <!-- NIK -->
    <tr class="tr-height">
        <td><p>NIK</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_nik'].value }}</p>
        </td>
    </tr>
    <!-- NO KTP -->
    <tr class="tr-height">
        <td><p>No. KTP</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_ktp'].value }}</p>
        </td>
    </tr>

    <!-- Jenis Kelamin -->
    <tr class="tr-height">
        <td><p>Jenis Kelamin</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['gender_id'].value == 1 ? 'Laki-laki' : 'Perempuan'}}</p>
        </td>
    </tr>

    <!-- Tempat Lahir -->
    <tr class="tr-height">
        <td><p>Tempat Lahir</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_placebirth'].value }}</p>
        </td>
    </tr>

    <!-- tanggal lahir -->
    <tr class="tr-height">
        <td><p>Tanggal Lahir</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_datebirth'].value }}</p>
        </td>
    </tr>

    <!-- Alamat -->
    <tr class="tr-height">
        <td style="vertical-align: top"><p>Alamat</p></td>
        <td style="vertical-align: top"><p>:</p></td>
        <td style="vertical-align: top">
            <p>{{ action?.formControls().controls['sdm_address'].value }}</p>
        </td>
    </tr>

    <!-- KODE POS -->
    <tr class="tr-height">
        <td><p>Kode POS</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_postcode'].value }}</p>
        </td>
    </tr>

    <!-- NO TELEPON -->
    <tr class="tr-height">
        <td><p>No. Telepon</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_phone'].value }}</p>
        </td>
    </tr>

    <!-- EMAIL -->
    <tr class="tr-height">
        <td><p>Email</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_email'].value }}</p>
        </td>
    </tr>

    <!-- LINKED IN -->
    <tr class="tr-height">
        <td><p>LinkedIn</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_linkedin'].value }}</p>
        </td>
    </tr>

    <!-- AGAMA -->
    <tr class="tr-height">
        <td><p>Agama</p></td>
        <td><p>:</p></td>
        <td>
            <span *ngFor="let lov of lovReligion.data">
                <p *ngIf="action?.formControls().controls['religion_id'].value == lov.key">{{ action?.formControls().controls['religion_id'].value == lov.key ? lov.value : '' }}</p>
            </span>
        </td>
    </tr>

    <!-- KESEHATAN -->
    <tr>
        <td><p>Kesehatan</p></td>
        <td><p>:</p></td>
        <td>
            <span *ngFor="let lov of lovHealth.data">
                <p *ngIf="action?.formControls().controls['health_id'].value == lov.key">{{ action?.formControls().controls['health_id'].value == lov.key ? lov.value : '' }}</p>
            </span>
        </td>
    </tr>

    <!-- OBJECTIF -->
    <tr class="tr-height">
        <td><p>Objektif</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_objective'].value }}</p>
        </td>
    </tr>

    <!-- LEVEL -->
    <tr class="tr-height">
        <td><p>Level</p></td>
        <td><p>:</p></td>
        <td>
            <span *ngFor="let lov of lovLevel.data">
                <p *ngIf="action?.formControls().controls['sdmlvl_id'].value == lov.key">{{lov.value}}</p>
            </span>
        </td>
    </tr>

    <!-- STATUS -->
    <tr class="tr-height">
        <td><p>Status</p></td>
        <td><p>:</p></td>
        <td>
            <span *ngFor="let lov of lovStatus.data">
                <p *ngIf="action?.formControls().controls['contracttype_id'].value == lov.key">{{lov.value}}</p>
            </span>
        </td>
    </tr>

    <!-- PENEMPATAN -->
    <tr class="tr-height">
        <td><p>Penempatan</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_contractloc'].value == '1' ? 'Bandung' : 'Luar Bandung' }}</p>
        </td>
    </tr>

    <!-- AWAL KONTRAK -->
    <tr class="tr-height">
        <td><p>Awal Kontrak</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_startcontract'].value }}</p>
        </td>
    </tr>

    <!-- AKHIR KONTRAK -->
    <tr class="tr-height">
        <td><p>Akhir Kontrak</p></td>
        <td><p>:</p></td>
        <td>
            <p>{{ action?.formControls().controls['sdm_endcontract'].value }}</p>
        </td>
    </tr>
    </table>
    </div>
    
    <div class="col-md-6 pos" style="float:left; margin-bottom:16px">
      <!-- <button mat-flat-button class="btn-new btn-mm" (click)="onSave();masukanPhoto()" *ngIf=" form == 1 " [disabled]="action?.formControls()?.invalid || action?.formControls()?.pristine">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
      <button mat-flat-button class="btn-new btn-mm" (click)="onUpdate();masukanPhoto()" *ngIf=" form == 2 " [disabled]="action?.formControls()?.invalid || action?.formControls()?.pristine">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update</button> -->
      <button mat-flat-button class="btn-clear btn-mm" (click)="goBack()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
    </div>
  </form>
