.time {
	float: right;
}

.box {
	border: 1px solid black;
	margin-bottom: 20px;
	padding-top: 40px;
}

.title-form {
	background: rgb(89, 89, 235);
	color:#fff;
	padding: 10px 10px 10px 10px;
	position: relative;
	top: 8.5px;
	margin-left: 50px;
	font-size: 20px;
	margin-top: 20px; 
}

.btn-new {
	background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221));
	color: #FEFEFE;
  }