.button-submit{
    background: linear-gradient(to bottom right, rgb(43, 93, 218), rgb(43, 93, 218)); 
    margin: 10px 0px;
}
.button-cancel{
    background: linear-gradient(to bottom right, rgb(224, 48, 29), rgb(224, 48, 29));
    margin: 10px 0px;
}


.button-update{
    background: linear-gradient(to bottom right, rgb(43, 93, 218), rgb(43, 93, 218)); 
    margin: 10px 0px;
}

.panjang{
    width : 150px;
}
.formheader{
    margin: 12px;
}
io-table{
    background: whitesmoke;
}
.time{
    float: right;
}
.btn-search {
    background: linear-gradient(to bottom left, rgb(20, 190, 1), rgb(20, 190, 1));
    color: #FEFEFE;
    margin-left: 7px;
}
.btn-clear {
    background: linear-gradient(to bottom right, rgb(224, 48, 29), rgb(224, 48, 29));
    color: #FEFEFE;

}
.btn-new {
  background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221));
  color: #FEFEFE;

}
.btn{
  background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221));
}
