<!-- 
AUTHOR  	: Malik Chaudhary
CREATED 	: Wednesday, ‎August ‎1, ‎2018, ‏‎9:48:58 AM
UPDATE		: 
-->

<io-form *ngIf="action?.form()">
	<div class="io-form-header">
   		<div class="title-header">
		     <span><i class="fa fa-home"></i></span>
		     <a [routerLink]="['/pages/dashboard']">dashboard</a><b> > </b>
		     <a [routerLink]="['/pages/project']"><span>Project Assignment</span></a><b> > </b>
		     <a><span>Add Project SDM</span></a>
   		</div>
 	</div>

	<form class="io-form-body" [formGroup]="action?.formControls()">  
		<table>
			<tr>
				<td id="td">
				    <mat-label>SDM Name </mat-label>
				</td>
				<td> 
			        <mat-form-field >
			          <input matInput [(ngModel)]="selectedValue" [formControl]="skillCtrl" [matAutocomplete]="auto" formControlName="sdm_id" name="sdm_id" required>
			          <mat-autocomplete #auto="matAutocomplete">
			          <mat-option *ngFor="let lov of filteredSkill" [value]="lov.value">
			              {{lov.values.sdm_name}}
			            </mat-option>
			          </mat-autocomplete>
			          <mat-hint *ngIf="action.formErrors.sdm_id" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.sdm_id}}
                      </mat-hint>
			        </mat-form-field>
				</td> 
				<td id="td">
				    <mat-label>Role Project </mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_role" name="project_role" required>
			          	<mat-hint *ngIf="action.formErrors.project_role" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_role}}
                    	</mat-hint>
			    	</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>NIP </mat-label>
				</td>
				<td>
					<mat-form-field>
					    <input matInput formControlName="nip" name="nip" value="{{ selectedValue }}" readonly>
					</mat-form-field>
				</td>
				<td id="td">
				    <mat-label>App Type</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_apptype" name="project_apptype" required>
			          	<mat-hint *ngIf="action.formErrors.project_apptype" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_apptype}}
                    	</mat-hint>
			    	</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>Project Name</mat-label>
				</td>
				<td>
					<mat-form-field>
					    <input matInput formControlName="project_name" name="project_name" required>
					    <mat-hint *ngIf="action.formErrors.project_name" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_name}}
                    	</mat-hint>
					</mat-form-field>
				</td>
				<td id="td">
				    <mat-label>Dev Language</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_devlanguage" name="project_devlanguage" required>
			          	<mat-hint *ngIf="action.formErrors.project_devlanguage" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_devlanguage}}
                    	</mat-hint>

			    	</mat-form-field>
				</td>
			</tr> 
			<tr>
				<td id="td">
				    <mat-label>Customer</mat-label>
				</td>
				<td>
					<mat-form-field>
					    <input matInput formControlName="project_customer" name="project_customer" required>
					    <mat-hint *ngIf="action.formErrors.project_customer" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_customer}}
                    	</mat-hint>
					</mat-form-field>
				</td>
				<td id="td">
				    <mat-label>Server OS</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_serveros" name="project_serveros" required>
			          	<mat-hint *ngIf="action.formErrors.project_serveros" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_serveros}}
                    	</mat-hint>
			    	</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>Project Site</mat-label>
				</td>
				<td>
					<mat-form-field>
					    <input matInput formControlName="project_projectsite" name="project_projectsite">
					    <mat-hint *ngIf="action.formErrors.project_projectsite" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_projectsite}}
                    	</mat-hint>
					</mat-form-field>
				</td>
				<td id="td">
				    <mat-label>Framework</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_framework" name="project_framework">
			          	<mat-hint *ngIf="action.formErrors.project_framework" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_framework}}
                    	</mat-hint>
			    	</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>Period Start</mat-label>
				</td>
				<td>
					<mat-form-field>
			          <input matInput [matDatepicker]="pickerStartDate" (click)="pickerStartDate.open()" formControlName="project_startdate" name="project_startdate">
			          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
			          <mat-datepicker #pickerStartDate></mat-datepicker>
			          <mat-hint *ngIf="action.formErrors.project_startdate" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_startdate}}
                      </mat-hint>
			        </mat-form-field>
				</td>
				<td id="td">
				    <mat-label>Database</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_database" name="project_database">
			          	<mat-hint *ngIf="action.formErrors.project_database" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_database}}
                        </mat-hint>
			    	</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>Period End</mat-label>
				</td>
				<td>
					<mat-form-field>
			          <input matInput [matDatepicker]="pickerEndDate" (click)="pickerEndDate.open()" formControlName="project_enddate" name="project_enddate">
			          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
			          <mat-datepicker #pickerEndDate></mat-datepicker>
			          <mat-hint *ngIf="action.formErrors.project_enddate" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_enddate}}
                      </mat-hint>
			        </mat-form-field>
				</td>
				<td id="td">
				    <mat-label>Dev Tools</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_devtool" name="project_devtool">
			          	<mat-hint *ngIf="action.formErrors.project_devtool" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_devtool}}
                        </mat-hint>
			    	</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>Project Desc</mat-label>
				</td>
				<td>
					<mat-form-field>
					    <textarea matInput formControlName="project_desc" name="project_desc"></textarea>
					    <mat-hint *ngIf="action.formErrors.project_desc" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_desc}}
                        </mat-hint>
					</mat-form-field>
				</td> 
				<td id="td">
				    <mat-label>Other Info</mat-label>
				</td>
				<td>
			        <mat-form-field>
					    <textarea matInput formControlName="project_otherinfo" name="project_otherinfo"></textarea>
					    <mat-hint *ngIf="action.formErrors.project_otherinfo" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_otherinfo}}
                        </mat-hint>
					</mat-form-field>
				</td>
			</tr>
			<tr>
				<td id="td">
				    <mat-label>App Server</mat-label>
				</td>
				<td>
			        <mat-form-field>
			          	<input matInput formControlName="project_appserver" name="project_appserver">
			          	<mat-hint *ngIf="action.formErrors.project_appserver" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_appserver}}
                        </mat-hint>
			    	</mat-form-field>
				</td>
				<td id="td">
				    <mat-label>Technical Info</mat-label>
				</td>
				<td>
			        <mat-form-field>
					    <textarea matInput formControlName="project_technicalinfo" name="project_technicalinfo"></textarea>
					    <mat-hint *ngIf="action.formErrors.project_technicalinfo" [ngStyle]="{'color': 'red'}">
                      		{{action.formErrors.project_technicalinfo}}
                        </mat-hint>
					</mat-form-field>
				</td>
			</tr>
			<tr style="height: 10px;"></tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>
				<button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onSave()">
						   <b>Perbarui</b>
				</button>&emsp;
				<button type="button" class="btn btn-danger btn-mm btn-icon" [routerLink]="['/pages/project']">
					   <b>Kembali</b>
				</button>
				</td>
			</tr>
			<tr style="height: 10px;"></tr>
		</table>
	 <br>
  	</form>
 </io-form> 
 <ng-template #viewAsDateTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  {{value | date:'yyyy-MM-dd'}}
</ng-template>