<io-form *ngIf="action?.form()">
  <div class="io-form-header">
    <div class="nx-brc-header">
      <i class="glyphicon glyphicon-home"></i>
      <a [routerLink]="['/pages/dashboard']">Dashboard</a>>
      <a>Project Assignment</a>>
      <a [routerLink]="['/pages/pja/PJA007']">Hiring SDM</a>>
      <a [routerLink]="['/pages/pja/PJA008']">Hiring SDM Update</a>
      <span class="time">{{ time | date:'medium'}}</span>
    </div>
  </div>
  <form class="io-form-body full" [formGroup]="action?.formControls()">
    <span class="nx-form-title">Form Update SDM Hiring</span>
    <div class="nx-form-body full">
      <div class="full">
        <table class="full">

          <tr class="full">
            <td id="nx-td-r" style="width: 15%; padding-left: 2%; padding-top: 30px; padding-bottom: 25px">
              <mat-label>Client Name</mat-label>
            </td>
            <td style="width: 1%; padding-bottom: 25px; padding-top: 30px">
              <mat-label>:</mat-label>
            </td >
            <td style="width: 44%; margin-right: 10%; margin-bottom: 20%; padding-bottom: 25px; padding-top: 30px">
              <mat-label class="inputan" id="nx-td-l">{{ clientName }}</mat-label>
            </td>
          </tr>

          <tr class="full">
            <td id="nx-td-r" style="width: 15%; padding-left: 2%; padding-bottom: 5px">
              <mat-label>SDM Name</mat-label>
            </td>
            <td style="width: 1%; padding-bottom: 5px">
              <mat-label>:</mat-label>
            </td>
            <td style="width: 44%; margin-right: 10%; margin-bottom: 20%; padding-bottom: 5px">
              <mat-label class="inputan" id="nx-td-l">{{ sdmName }}</mat-label>
            </td>
          </tr>

          <tr class="full">
            <td id="nx-td-r" style="width: 15%; padding-left: 2%">
              <mat-label>Status</mat-label>
            </td>
            <td style="width: 1%">
              <mat-label>:</mat-label>
            </td>
            <td style="width: 44%; margin-right: 10%; margin-bottom: 20%">
              <mat-form-field class="inputan" id="nx-td-l">
                <mat-select placeholder="" formControlName="hirestat_id" name="hirestat_id" [(ngModel)]="hirestatId" (click)="lovStatus();cekData()" (blur)="cekData()" >
                  <mat-option *ngFor="let lov of lovHiring.data" [value]="lov.key">
                   {{lov.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td class="nx-button-range">
              <button mat-raised-button class="action-btn nx-save-button" (click)="onUpdate()" [disabled]="disabled">Update</button>
              <button mat-raised-button class="action-btn nx-cancel-button" (click)="navigateBack(selectedClientId)">Cancel</button>  
            </td>
          </tr>

        </table>
      </div>
    </div>

  </form>
</io-form>