.nx-title {
	text-align: left;
	font-size: 150%;
	margin: 20px;
	color: black;
}

.nx-label-style {
	text-align: left;
	margin: 20px;
	color: black;
}

.nx-table-margin {
	margin-right: 20px;
	margin-bottom: 25px;
}

.nx-table-range {
	padding: 5px;
	margin: 10px;
}

#nx-table-range {
	padding: 5px;
	margin: 10px;
}

.nx-table-height {
    height: 66.5167px;
}

.nx-table-col-width {
	width: 250px;
}

.nx-button-range {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
}

.nx-brc-header {
	margin: 12px;
}

.nx-table-left-align {
	text-align: left;
}

.nx-time{
    float: right;
}

.nx-reset-button{
    background-color: red;
    color: white;
    text-transform: capitalize;
}

.nx-assign-button{
    background-color: blue;
    color: white;
    text-transform: capitalize;
}