<io-form *ngIf="action?.form()">
  <div class="io-form-header">
    <div class="nx-brc-header">
      <i class="glyphicon glyphicon-home"></i>
      <a [routerLink]="['/pages/dashboard']">Dashboard</a>>
      <a>Project Assignment</a>>
      <a [routerLink]="['/pages/pja/PJA010']">SDM Assignment</a>
      <span class="nx-time">{{ time | date:'medium'}}</span>
    </div>
  </div>
  <form class="io-form-body" [formGroup]="action?.formControls()">
    <table class="nx-table-margin" style="width: 100%">

      <tr>
        <!-- Client -->
        <td style="width: 100px;">
          <mat-label>Client</mat-label>
        </td>
        <td style="width: 5px; padding-right:10px">
          <mat-label>:</mat-label>
        </td>
        <td style="width: 100px">
          <mat-form-field>
            <mat-select placeholder="- Select -" (change)="setTrueClick()" formControlName="client_id" name="client_id" [(ngModel)]="selected" (change)="ambilData();onSearch()">
              <mat-option *ngFor="let lov of lovClient.data" [value]="lov.key">
                {{lov.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <!-- pic client -->
        <td style="width: 150px; padding-left:50px">
            <mat-label>PIC Client</mat-label>
        </td>
        <td style="width: 5px; padding-right:10px">
          <mat-label>:</mat-label>
        </td>
        <td style="width: 200px">
          <mat-label>{{ clientPic }}</mat-label>
        </td>
        <!-- client contact -->
        <td style="width: 100px">
            <mat-label>Client Contact</mat-label>
        </td>
        <td style="width: 5px; padding-right:10px">
          <mat-label>:</mat-label>
        </td>
        <td style="width: 200px">
          <mat-label>{{ clientMobile }}</mat-label>
        </td>
        <td>
      </tr>
    </table>
      <div style="margin-left:795px; padding-bottom:20px;">
        <td style="padding-right:20px">
          <button mat-raised-button class="action-btn nx-reset-button" (click)="action.onReset();clearData()">
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true">&nbsp;</span>Reset
          </button>
        </td>
        <td>
          <button mat-raised-button class="action-btn nx-assign-button" [disabled]="btnDisabled" (click)="navigatePushId(selected)">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">&nbsp;</span>Assign
          </button>
        </td>
      </div>
  </form>
</io-form>

<io-table *ngIf="action?.table()" [action]="action" style="text-align: center;">
  <div class="io-table-header">
    <h3>List Task</h3>
  </div>
</io-table>

<ng-template #notif let-row="row" let-value="value" ngx-datatable-cell-template>
  <i matTooltip="Non-Aktif" class="fa fa-exclamation-triangle" aria-hidden="true" style="color:black; font-size: 30px" *ngIf="row.sdmassign_notification == 'black'"></i>
  <i matTooltip="Sisa 1 bulan" class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red; font-size: 30px" *ngIf="row.sdmassign_notification == 'red'"></i>
  <i matTooltip="Sisa 2 bulan" class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange; font-size: 30px" *ngIf="row.sdmassign_notification == 'yellow'"></i>
  <i matTooltip="Sisa 4 bulan" class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#00da00; font-size: 30px" *ngIf="row.sdmassign_notification == 'green'"></i>
  <i matTooltip="Sisa lebih dari 4 bulan" class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#b3b3b3; font-size: 30px" *ngIf="row.sdmassign_notification == 'grey'"></i>
</ng-template>

<!-- <button class="btn btn-success btn-mm nx-button-range" (click)="action.onSave()">Save</button> -->

<!-- Contoh Template Untuk meng-Override field "Action" -->
<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  <!-- <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onEdit(row); onPatchData(row);"> -->
  <button type="button" matTooltip="Edit"class="btn btn-primary btn-mm btn-icon" (click)="navigateEditMenu(row.sdmassign_id)">
    <i class="glyphicon glyphicon-pencil"></i>
  </button>
  <button type="button" matTooltip="Hapus Sdm" class="btn btn-danger btn-mm btn-icon" (click)="action.onDelete(row);refreshTabel()">
    <i class="glyphicon glyphicon-trash"></i>
  </button>
</ng-template>

<!-- <ng-template #viewAsDateTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  {{value | date:'yyyy-MM-dd'}}
</ng-template> -->

