<p></p>

<io-table style="margin-bottom:40px" *ngIf="action?.table()" [action]="action">
  <div class="io-table-header">
    <h3>List Task</h3>
  </div>
</io-table>

<div *ngIf="form == 2">
    <io-table *ngIf="action?.table()" [action]="action" style="text-align: center;">
        <div class="io-table-header">
        <h3>List Profiling</h3>
        </div>
    </io-table>
</div>

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
    <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onEdit(row)">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
    <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onDelete(row)">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</ng-template>

<div style="margin:16px">
    <button mat-flat-button class="btn-clear btn-mm" (click)="goBack()">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
</div>