/*
AUTHOR 		: Malik Chaudhary
CREATED 	: ‎Thursday, ‎August ‎2, ‎2018, ‏‎1:45:06 PM
UPDATE 		:
*/

td{
    text-align: center;
}

.title-header{
    margin-top: 10px;
}

#td{
    text-align: right;
}

table{
    width: 90%
}
.time{
    float: right;
}