<p></p>


<form class="io-form-body" [formGroup]="action?.formControls()"> 
<!-- EMPLOYMENT -->
<div style="width: 100%; padding-left: 20px; padding-right: 20px">
<table style="width: 100%">

    <!-- TEMPAT KURSUS -->
    <tr>
      <td style="width: 20%">Nama Perusahaan</td>
      <td style="width: 5px">:</td>
      <td style="width: 80%">
          <mat-form-field class="sdw-full-size">
              <input matInput placeholder="" formControlName="employment_corpname" name="employment_corpname" required>
              <mat-hint *ngIf="action.formErrors.employment_corpname" [ngStyle]="{'color': 'red'}">
                {{action.formErrors.employment_corpname}}
              </mat-hint>
            </mat-form-field>
        </td>
    </tr>
 
    <!-- masuk kerja -->
    <tr>
        <td style="width: 20%">Dari</td>
        <td style="width: 5px">:</td>
        <td style="width: 80%">
          <mat-form-field class="sdw-full-size">
              <input matInput [matDatepicker]="pickerStart" [max]="this.action.getFormControlValue('employment_enddate')" placeholder="" formControlName="employment_startdate">
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
        </td>
    </tr>

    <!-- keluar/sampai kerja -->
    <tr>
        <td>Sampai</td>
        <td>:</td>
        <td>
          <mat-form-field class="sdw-full-size">
              <input matInput [matDatepicker]="pickerEnd" [min]="this.action.getFormControlValue('employment_startdate')" placeholder="" formControlName="employment_enddate">
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </td>
    </tr>

    <!-- ROLE JOB -->
    <tr>
      <td>Role</td>
      <td>:</td>
      <td>
        <mat-form-field class="sdw-full-size">
            <input matInput placeholder="" formControlName="employment_rolejob" name="employment_rolejob" required>
            <mat-hint *ngIf="action.formErrors.employment_rolejob" [ngStyle]="{'color': 'red'}">
              {{action.formErrors.employment_rolejob}}
            </mat-hint>
          </mat-form-field>
      </td>
    </tr>    
  </table>
  </div>
    <div class="col-md-6 pos" style="float:right">
        <io-form-action [action]="action" (click)="action.onReset()" ></io-form-action>
    </div>
  <!-- <div class="col-md-6 pos" style="float:right">
      <button mat-raised-button style="margin: 10px 0px" (click)="action.onSave()" *ngIf=" form == 1 ">Submit</button>
      <button mat-raised-button style="margin: 10px 0px" (click)="action.onEdit()" *ngIf=" form == 2 ">Update</button>
  </div> -->
</form>

<div>
    <io-table *ngIf="action?.table()" [action]="action">
        <div class="io-table-header">
        <h3>List Educations</h3>
        </div>
    </io-table>
</div>

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
    <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onEdit(row)">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
    <button type="button" class="btn btn-primary btn-mm btn-icon" (click)="action.onDelete(row)">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</ng-template>