/*
  Author        : Muhamad Rifan Andrian
  Date Created  : 21/09/2018
  Status        : Done
*/


.title-header{
    font-size: 15px;
    padding-top: 10px;
}
.title-form{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.time {
  float:right;
}
.btn-search {
    background: linear-gradient(to bottom left, rgb(20, 190, 1), rgb(20, 190, 1));
    color: #FEFEFE;
    margin-left: 7px;
}
.btn-clear {
    background: linear-gradient(to bottom right, rgb(224, 48, 29), rgb(224, 48, 29));
    color: #FEFEFE;

}
.btn-new {
  background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221));
  color: #FEFEFE;

}
.btn{
  background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221));
}

.btn-ww{
    width:100px;
}