<div class="row" *ngIf="action?.form()">
  <div class="col-md-12" style="margin-left:330px">
    <button mat-raised-button type="button"
            class="sdw-btn-primary"
            style="background: linear-gradient(to bottom right, rgb(49, 144, 221), rgb(49, 144, 221));"
            (click)="action.onSave()"
            [disabled]="
              action?.isFormPristine() ||
              action?.isFormInvalid() ||
              disableAction">
      {{action.buttonTitle}}
    </button>
    <button mat-raised-button type="button"
            class="sdw-btn-default"
            style="background: linear-gradient(to bottom right, rgb(224, 48, 29), rgb(224, 48, 29));"
            (click)="action.onReset()">
      Reset
    </button>
    <ng-content select=".io-button-body"></ng-content>
  </div>
</div>
<br>
<br>
