<div class="breadcrumb">
  <div style="margin-left: 20px">
    <i class="glyphicon glyphicon-home"></i>
    <a [routerLink]="['/pages/dashboard']">Dashboard</a>>
    <a>Project Assignment</a>>
    <a [routerLink]="['/pages/pja/PJA004']">List Detail Client</a>
    <span class="time">{{ time | date:'medium'}}</span>
  </div>
</div>

<!-- <div class="breadcrumb">
  <span><i class="fa fa-home"></i></span> 
  <a href=""><span> Dashboard</span></a><span> > </span> <a href=""><span>Project Assignment</span></a> <span> > List Detail Client</span>
  <span class="time">{{ time | date:'medium' }}</span>  
</div> -->


<io-table-with-add-client *ngIf="action?.table()" [action]="action" style="text-align: center;">
  <div class="io-table-header">
    <h3>List Detail Client</h3>
  </div>
</io-table-with-add-client>>

<ng-template #tableActionTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
  <button type="button" matTooltip="Edit Client" class="btn btn-primary btn-mm btn-icon" (click)="navigateEditMenu(row.client_id)" >
    <i class="glyphicon glyphicon-edit"></i>
  </button>
  <button type="button" matTooltip="Hapus Client" class="btn btn-danger btn-mm btn-icon" (click)="action.onDelete(row);refreshTabel()">
    <i class="glyphicon glyphicon-trash"></i>
  </button>
</ng-template>

