
<io-form >
  <div class="io-form-header">  
      <span><i class="fa fa-home"></i></span> 
      <a href=""><span> Dashboard</span></a><span> > </span> <a href=""><span>Mengelola Data SDM</span></a> <span *ngIf="form == 1"> > Input Data SDM</span><span *ngIf="form == 2"> > Update Data SDM</span>
      <span class="time">{{ time | date:'medium' }}</span>  
  </div>

  <div class="judul">Input Data SDM</div>

  <form class="io-form-body"> 
   
      <div class="margin-padding-div">
          <mat-tab-group>
            <mat-tab label="Data Pribadi">
                <sdm-tab-datapribadi [form]="form"></sdm-tab-datapribadi>
            </mat-tab>
            <mat-tab label="Pendidikan">
                <sdm-tab-education [form]="form"></sdm-tab-education>
            </mat-tab>
            <mat-tab label="Kursus">
                <sdm-tab-course [form]="form"></sdm-tab-course>
            </mat-tab>
            <mat-tab label="Pekerjaan">
              <sdm-tab-employment [form]="form"></sdm-tab-employment>
            </mat-tab>
            <mat-tab label="Profil">
              <sdm-tab-profil [form]="form"></sdm-tab-profil>
            </mat-tab>
            <mat-tab label="Bahasa">
              <sdm-tab-language [form]="form"></sdm-tab-language>
            </mat-tab>
          </mat-tab-group>
        </div>

  </form>
</io-form>